
/* responsive */


/* Header responsive css start */
@media screen and (max-width: 13300px){
  .sign_up button {
    margin-left: 0;
  }
}
@media screen and (max-width: 860px){
  .user_part{
    width: 30%;
    float: right;
  }
  .sign_up button {
    margin-left: -10px;
  }

}
@media screen and (max-width: 764px){
  .logo{
    width: 100%;
  }
  .user_part{
    width: 100%;
    padding-top: 20px;
  }
  .sign_up{
    width:100%;
  }

  .sign_up button {
    margin-left: 0;
  }
  .sign_in{
    width:100%;
    padding-top:20px;
  }

}
@media screen and (max-width: 700px){
  .logo{
    width: 100%;
    text-align: center;
  }
  .user_part{
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
  }
  .sign_up{
    width:50%;
    float:left;
  }

  .sign_up button {
    margin-left: 0;
  }
  .sign_in{
    width:50%;
    float:left;
    padding-top:0;
  }

}
@media (max-width:450px){
  .user_part{
    padding-top: 20px;
    padding-right: 10px;
    margin: 0 auto;
    width:100%;
  }
  .sign_up{
    width:100%;
    float:none;

  }

  .sign_up button {
    width:100%;
  }
  .sign_in button {
    width:100%;
    display: block;
  }
  .sign_in{
    float:none;
    padding-top:10px;
    width:100%;
  }
}
/* Header responsive css finish */
