
/* responsive */


/* Header responsive css start */
@media screen and (max-width: 13300px){
  .sign_up button {
    margin-left: 0;
  }
}
@media screen and (max-width: 860px){
  .user_part{
    width: 30%;
    float: right;
  }
  .sign_up button {
    margin-left: -10px;
  }

}
@media screen and (max-width: 764px){
  .logo{
    width: 100%;
  }
  .user_part{
    width: 100%;
    padding-top: 20px;
  }
  .sign_up{
    width:100%;
  }

  .sign_up button {
    margin-left: 0;
  }
  .sign_in{
    width:100%;
    padding-top:20px;
  }

}
@media screen and (max-width: 700px){
  .logo{
    width: 100%;
    text-align: center;
  }
  .user_part{
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
  }
  .sign_up{
    width:50%;
    float:left;
  }

  .sign_up button {
    margin-left: 0;
  }
  .sign_in{
    width:50%;
    float:left;
    padding-top:0;
  }

}
@media (max-width:450px){
  .user_part{
    padding-top: 20px;
    padding-right: 10px;
    margin: 0 auto;
    width:100%;
  }
  .sign_up{
    width:100%;
    float:none;

  }

  .sign_up button {
    width:100%;
  }
  .sign_in button {
    width:100%;
    display: block;
  }
  .sign_in{
    float:none;
    padding-top:10px;
    width:100%;
  }
}
/* Header responsive css finish */



/* form part responsive start */
@media (max-width:1100px){
  .form_2 label {
  	padding-left: 0;
  }
  .us_button_2{
    padding-right:0;
  }
}
@media (max-width:850px){
  .form_2 .logo,
  .form .logo{
    width:0%;
    float:none
  }
  .form_2 .logo img,
  .form .logo img
  {
  width:0;height:0;
  }
  .form_2 .us_p_2
   {
  	width: 100%;
  	margin: 0 auto;
  	float: right;
  	text-align: center;
  	padding-right: 16px;
  }

  .form .us_p{
   width: 100%;
   margin: 0 auto;
   float: right;
   text-align: center;
   padding-top: -16px;
 }
 .form{
   margin-top: 0px;
   padding-top:-100px;
 }
}



/* responsive menu */
@media(max-width:615px){
  .menu{
    padding: 2px;
  }
  #menu ul{
    list-style:none;
  }

  #menu ul li{
    float:none;
    /* padding: 10px 30px; */
    background: #fff;
    margin: 5px 0;
    height: 20px;
    line-height: 20px;
    /* border: 3px solid #fff; */
    border-radius: 4px;
    width: 60%;
  }
  #menu ul li a{
    color:#000;
    text-decoration: none;
    font-family: calibiri;
    font-size: 15px;

  }

}
@media(max-width:615px){
  .menu{
    width:600px;
    margin:0 auto;
  }
  #menu ul li{
    width: 20%;
    margin-left:110px;
  }
}
@media(max-width:456px){
  #menu ul li{
    width: 40%;
    margin:5px auto;
    margin-left: 15px;
  }
}
